--
-- PostgreSQL database dump
--

\restrict 9p9aAcEb2OuUtQxaoaEdhPK2hhXC7ZfPfqxaptaV9tkkI8JXffGXPuxQnkAR6fu

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pg_trgm; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_trgm WITH SCHEMA public;


--
-- Name: EXTENSION pg_trgm; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_trgm IS 'text similarity measurement and index searching based on trigrams';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: abandon_reason; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.abandon_reason AS ENUM (
    'time',
    'injury',
    'fatigue',
    'motivation',
    'schedule',
    'other'
);


ALTER TYPE public.abandon_reason OWNER TO admin;

--
-- Name: abandonreason; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.abandonreason AS ENUM (
    'time',
    'injury',
    'fatigue',
    'motivation',
    'schedule',
    'other'
);


ALTER TYPE public.abandonreason OWNER TO admin;

--
-- Name: cardiosubclass; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.cardiosubclass AS ENUM (
    'liss',
    'hiit',
    'miss'
);


ALTER TYPE public.cardiosubclass OWNER TO admin;

--
-- Name: efforttype; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.efforttype AS ENUM (
    'RIR',
    'RPE',
    'PERCENTAGE'
);


ALTER TYPE public.efforttype OWNER TO admin;

--
-- Name: exercise_phase; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.exercise_phase AS ENUM (
    'warmup',
    'main',
    'cooldown'
);


ALTER TYPE public.exercise_phase OWNER TO admin;

--
-- Name: exerciseclass; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.exerciseclass AS ENUM (
    'strength',
    'cardio',
    'plyometric',
    'flexibility',
    'mobility',
    'warmup',
    'conditioning',
    'balance'
);


ALTER TYPE public.exerciseclass OWNER TO admin;

--
-- Name: exercisephase; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.exercisephase AS ENUM (
    'WARMUP',
    'MAIN',
    'COOLDOWN'
);


ALTER TYPE public.exercisephase OWNER TO admin;

--
-- Name: exercisetype; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.exercisetype AS ENUM (
    'MULTIARTICULAR',
    'MONOARTICULAR'
);


ALTER TYPE public.exercisetype OWNER TO admin;

--
-- Name: experiencelevel; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.experiencelevel AS ENUM (
    'BEGINNER',
    'INTERMEDIATE',
    'ADVANCED'
);


ALTER TYPE public.experiencelevel OWNER TO admin;

--
-- Name: gender; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.gender AS ENUM (
    'MALE',
    'FEMALE',
    'OTHER',
    'PREFER_NOT_TO_SAY'
);


ALTER TYPE public.gender OWNER TO admin;

--
-- Name: intensitylevel; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.intensitylevel AS ENUM (
    'LOW',
    'MEDIUM',
    'HIGH',
    'DELOAD'
);


ALTER TYPE public.intensitylevel OWNER TO admin;

--
-- Name: mesocyclestatus; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.mesocyclestatus AS ENUM (
    'DRAFT',
    'ACTIVE',
    'COMPLETED',
    'ARCHIVED'
);


ALTER TYPE public.mesocyclestatus OWNER TO admin;

--
-- Name: metrictype; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.metrictype AS ENUM (
    'WEIGHT',
    'HEIGHT',
    'BODY_FAT',
    'MUSCLE_MASS',
    'BODY_WATER',
    'BONE_MASS',
    'VISCERAL_FAT',
    'BMI',
    'CHEST',
    'WAIST',
    'HIPS',
    'ARMS',
    'THIGHS',
    'NECK',
    'CALF',
    'SHOULDERS',
    'FOREARM',
    'ABDOMINAL',
    'UPPER_ARM',
    'LOWER_ARM',
    'RESTING_HR',
    'BLOOD_PRESSURE_SYS',
    'BLOOD_PRESSURE_DIA',
    'BMR',
    'TDEE',
    'TARGET_CALORIES',
    'PROTEIN_INTAKE',
    'CARB_INTAKE',
    'FAT_INTAKE',
    'TRICEPS_SKINFOLD',
    'SUBSCAPULAR_SKINFOLD',
    'SUPRAILIAC_SKINFOLD',
    'ABDOMINAL_SKINFOLD',
    'THIGH_SKINFOLD'
);


ALTER TYPE public.metrictype OWNER TO admin;

--
-- Name: primarygoal; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.primarygoal AS ENUM (
    'HYPERTROPHY',
    'STRENGTH',
    'POWER',
    'ENDURANCE',
    'FAT_LOSS',
    'GENERAL_FITNESS'
);


ALTER TYPE public.primarygoal OWNER TO admin;

--
-- Name: resistanceprofile; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.resistanceprofile AS ENUM (
    'ASCENDING',
    'DESCENDING',
    'FLAT',
    'BELL_SHAPED'
);


ALTER TYPE public.resistanceprofile OWNER TO admin;

--
-- Name: userrole; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.userrole AS ENUM (
    'ADMIN',
    'TRAINER',
    'CLIENT'
);


ALTER TYPE public.userrole OWNER TO admin;

--
-- Name: workout_status; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.workout_status AS ENUM (
    'in_progress',
    'completed',
    'abandoned'
);


ALTER TYPE public.workout_status OWNER TO admin;

--
-- Name: workoutstatus; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.workoutstatus AS ENUM (
    'in_progress',
    'completed',
    'abandoned'
);


ALTER TYPE public.workoutstatus OWNER TO admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: client_interviews; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.client_interviews (
    id character varying NOT NULL,
    client_id character varying NOT NULL,
    age integer,
    gender public.gender,
    occupation character varying(200),
    weight_kg double precision,
    height_cm double precision,
    training_experience_months integer,
    experience_level public.experiencelevel,
    primary_goal public.primarygoal,
    target_muscle_groups character varying[],
    specific_goals_text text,
    days_per_week integer,
    session_duration_minutes integer,
    preferred_days integer[],
    has_gym_access boolean,
    available_equipment character varying[],
    equipment_notes text,
    injury_areas character varying[],
    injury_details text,
    excluded_exercises character varying[],
    medical_conditions character varying[],
    mobility_limitations text,
    notes text,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    document_id character varying(100),
    phone character varying(50),
    address text,
    emergency_contact_name character varying(200),
    emergency_contact_phone character varying(50),
    insurance_provider character varying(200),
    policy_number character varying(100)
);


ALTER TABLE public.client_interviews OWNER TO admin;

--
-- Name: client_metrics; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.client_metrics (
    id character varying NOT NULL,
    client_id character varying NOT NULL,
    metric_type public.metrictype NOT NULL,
    value double precision NOT NULL,
    unit character varying(20) NOT NULL,
    date date NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.client_metrics OWNER TO admin;

--
-- Name: day_exercises; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.day_exercises (
    id character varying NOT NULL,
    training_day_id character varying NOT NULL,
    exercise_id character varying NOT NULL,
    order_index integer NOT NULL,
    phase public.exercisephase NOT NULL,
    sets integer NOT NULL,
    reps_min integer,
    reps_max integer,
    rest_seconds integer NOT NULL,
    effort_type public.efforttype NOT NULL,
    effort_value double precision NOT NULL,
    tempo character varying,
    set_type character varying,
    duration_seconds integer,
    intensity_zone integer,
    distance_meters integer,
    target_calories integer,
    intervals integer,
    work_seconds integer,
    interval_rest_seconds integer,
    notes text,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.day_exercises OWNER TO admin;

--
-- Name: exercise_muscles; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.exercise_muscles (
    id character varying NOT NULL,
    exercise_id character varying NOT NULL,
    muscle_id character varying NOT NULL,
    muscle_role character varying(20) NOT NULL,
    created_at timestamp without time zone NOT NULL,
    CONSTRAINT ck_muscle_role CHECK (((muscle_role)::text = ANY ((ARRAY['primary'::character varying, 'secondary'::character varying])::text[])))
);


ALTER TABLE public.exercise_muscles OWNER TO admin;

--
-- Name: exercise_set_logs; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.exercise_set_logs (
    id character varying(36) DEFAULT (public.uuid_generate_v4())::text NOT NULL,
    workout_log_id character varying(36) NOT NULL,
    day_exercise_id character varying(36) NOT NULL,
    set_number integer NOT NULL,
    reps_completed integer NOT NULL,
    weight_kg double precision,
    effort_value double precision,
    completed_at timestamp without time zone DEFAULT now() NOT NULL,
    notes text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.exercise_set_logs OWNER TO admin;

--
-- Name: exercises; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.exercises (
    id character varying NOT NULL,
    type public.exercisetype NOT NULL,
    resistance_profile public.resistanceprofile NOT NULL,
    category character varying NOT NULL,
    video_url character varying,
    thumbnail_url character varying,
    image_url character varying,
    anatomy_image_url character varying,
    equipment_needed character varying,
    difficulty_level character varying,
    exercise_class public.exerciseclass NOT NULL,
    cardio_subclass public.cardiosubclass,
    intensity_zone integer,
    target_heart_rate_min integer,
    target_heart_rate_max integer,
    calories_per_minute double precision,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    name_en character varying NOT NULL,
    name_es character varying,
    description_en text,
    description_es text
);


ALTER TABLE public.exercises OWNER TO admin;

--
-- Name: macrocycles; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.macrocycles (
    id character varying NOT NULL,
    name character varying NOT NULL,
    description text,
    objective character varying NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL,
    status public.mesocyclestatus NOT NULL,
    trainer_id character varying NOT NULL,
    client_id character varying,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.macrocycles OWNER TO admin;

--
-- Name: mesocycles; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.mesocycles (
    id character varying NOT NULL,
    macrocycle_id character varying NOT NULL,
    block_number integer NOT NULL,
    name character varying NOT NULL,
    description text,
    start_date date NOT NULL,
    end_date date NOT NULL,
    focus character varying,
    notes text,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.mesocycles OWNER TO admin;

--
-- Name: microcycles; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.microcycles (
    id character varying NOT NULL,
    mesocycle_id character varying NOT NULL,
    week_number integer NOT NULL,
    name character varying NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL,
    intensity_level public.intensitylevel NOT NULL,
    notes text,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.microcycles OWNER TO admin;

--
-- Name: muscles; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.muscles (
    id character varying NOT NULL,
    name character varying(50) NOT NULL,
    display_name_es character varying(100) NOT NULL,
    display_name_en character varying(100) NOT NULL,
    body_region character varying(50) NOT NULL,
    muscle_category character varying(50) NOT NULL,
    svg_ids character varying[],
    sort_order integer,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.muscles OWNER TO admin;

--
-- Name: patient_context_snapshots; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.patient_context_snapshots (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    client_id character varying NOT NULL,
    version character varying NOT NULL,
    effective_at timestamp with time zone DEFAULT now() NOT NULL,
    source character varying(50),
    data jsonb NOT NULL,
    created_by character varying,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.patient_context_snapshots OWNER TO admin;

--
-- Name: training_days; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.training_days (
    id character varying NOT NULL,
    microcycle_id character varying NOT NULL,
    day_number integer NOT NULL,
    date date NOT NULL,
    name character varying NOT NULL,
    focus character varying,
    rest_day boolean NOT NULL,
    notes text,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.training_days OWNER TO admin;

--
-- Name: users; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.users (
    id character varying NOT NULL,
    email character varying NOT NULL,
    hashed_password character varying NOT NULL,
    full_name character varying NOT NULL,
    role public.userrole NOT NULL,
    preferred_language character varying(5) NOT NULL,
    is_active boolean NOT NULL,
    is_verified boolean NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    profile_image_url character varying
);


ALTER TABLE public.users OWNER TO admin;

--
-- Name: COLUMN users.profile_image_url; Type: COMMENT; Schema: public; Owner: admin
--

COMMENT ON COLUMN public.users.profile_image_url IS 'URL of the user profile image stored in /static/profiles/';


--
-- Name: workout_logs; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.workout_logs (
    id character varying(36) DEFAULT (public.uuid_generate_v4())::text NOT NULL,
    client_id character varying(36) NOT NULL,
    training_day_id character varying(36) NOT NULL,
    started_at timestamp without time zone DEFAULT now() NOT NULL,
    completed_at timestamp without time zone,
    status public.workout_status DEFAULT 'in_progress'::public.workout_status NOT NULL,
    notes text,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    abandon_reason character varying(50),
    abandon_notes text,
    rescheduled_to_date date
);


ALTER TABLE public.workout_logs OWNER TO admin;

--
-- Name: COLUMN workout_logs.abandon_reason; Type: COMMENT; Schema: public; Owner: admin
--

COMMENT ON COLUMN public.workout_logs.abandon_reason IS 'Raz├│n por la que se abandon├│ el entrenamiento';


--
-- Name: COLUMN workout_logs.abandon_notes; Type: COMMENT; Schema: public; Owner: admin
--

COMMENT ON COLUMN public.workout_logs.abandon_notes IS 'Notas adicionales sobre el abandono';


--
-- Name: COLUMN workout_logs.rescheduled_to_date; Type: COMMENT; Schema: public; Owner: admin
--

COMMENT ON COLUMN public.workout_logs.rescheduled_to_date IS 'Fecha a la que se reagend├│ el entrenamiento';


--
-- Data for Name: client_interviews; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: client_metrics; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: day_exercises; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: exercise_muscles; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: exercise_set_logs; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: exercises; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: macrocycles; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: mesocycles; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: microcycles; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: muscles; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: patient_context_snapshots; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.patient_context_snapshots (id, client_id, version, effective_at, source, data, created_by, created_at) FROM stdin;
\.


--
-- Data for Name: training_days; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: workout_logs; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Name: client_interviews client_interviews_client_id_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.client_interviews
    ADD CONSTRAINT client_interviews_client_id_key UNIQUE (client_id);


--
-- Name: client_interviews client_interviews_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.client_interviews
    ADD CONSTRAINT client_interviews_pkey PRIMARY KEY (id);


--
-- Name: client_metrics client_metrics_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.client_metrics
    ADD CONSTRAINT client_metrics_pkey PRIMARY KEY (id);


--
-- Name: day_exercises day_exercises_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.day_exercises
    ADD CONSTRAINT day_exercises_pkey PRIMARY KEY (id);


--
-- Name: exercise_muscles exercise_muscles_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.exercise_muscles
    ADD CONSTRAINT exercise_muscles_pkey PRIMARY KEY (id);


--
-- Name: exercise_set_logs exercise_set_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.exercise_set_logs
    ADD CONSTRAINT exercise_set_logs_pkey PRIMARY KEY (id);


--
-- Name: exercises exercises_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.exercises
    ADD CONSTRAINT exercises_pkey PRIMARY KEY (id);


--
-- Name: macrocycles macrocycles_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.macrocycles
    ADD CONSTRAINT macrocycles_pkey PRIMARY KEY (id);


--
-- Name: mesocycles mesocycles_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.mesocycles
    ADD CONSTRAINT mesocycles_pkey PRIMARY KEY (id);


--
-- Name: microcycles microcycles_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.microcycles
    ADD CONSTRAINT microcycles_pkey PRIMARY KEY (id);


--
-- Name: muscles muscles_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.muscles
    ADD CONSTRAINT muscles_pkey PRIMARY KEY (id);


--
-- Name: patient_context_snapshots patient_context_snapshots_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.patient_context_snapshots
    ADD CONSTRAINT patient_context_snapshots_pkey PRIMARY KEY (id);


--
-- Name: training_days training_days_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.training_days
    ADD CONSTRAINT training_days_pkey PRIMARY KEY (id);


--
-- Name: exercise_muscles uq_exercise_muscle; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.exercise_muscles
    ADD CONSTRAINT uq_exercise_muscle UNIQUE (exercise_id, muscle_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: workout_logs workout_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.workout_logs
    ADD CONSTRAINT workout_logs_pkey PRIMARY KEY (id);


--
-- Name: idx_exercise_set_logs_day_exercise_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_exercise_set_logs_day_exercise_id ON public.exercise_set_logs USING btree (day_exercise_id);


--
-- Name: idx_exercise_set_logs_workout_log_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_exercise_set_logs_workout_log_id ON public.exercise_set_logs USING btree (workout_log_id);


--
-- Name: idx_exercises_class; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_exercises_class ON public.exercises USING btree (exercise_class);


--
-- Name: idx_exercises_name_en; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_exercises_name_en ON public.exercises USING btree (name_en);


--
-- Name: idx_patient_context_snapshots_client; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_patient_context_snapshots_client ON public.patient_context_snapshots USING btree (client_id, effective_at DESC);


--
-- Name: idx_unique_set_per_exercise; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX idx_unique_set_per_exercise ON public.exercise_set_logs USING btree (workout_log_id, day_exercise_id, set_number);


--
-- Name: idx_workout_logs_client_created; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_workout_logs_client_created ON public.workout_logs USING btree (client_id, created_at);


--
-- Name: idx_workout_logs_client_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_workout_logs_client_id ON public.workout_logs USING btree (client_id);


--
-- Name: idx_workout_logs_client_status; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_workout_logs_client_status ON public.workout_logs USING btree (client_id, status);


--
-- Name: idx_workout_logs_started_at; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_workout_logs_started_at ON public.workout_logs USING btree (started_at);


--
-- Name: idx_workout_logs_status; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_workout_logs_status ON public.workout_logs USING btree (status);


--
-- Name: idx_workout_logs_training_day_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_workout_logs_training_day_id ON public.workout_logs USING btree (training_day_id);


--
-- Name: ix_client_metrics_client_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_client_metrics_client_id ON public.client_metrics USING btree (client_id);


--
-- Name: ix_exercise_muscles_exercise_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_exercise_muscles_exercise_id ON public.exercise_muscles USING btree (exercise_id);


--
-- Name: ix_exercise_muscles_muscle_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_exercise_muscles_muscle_id ON public.exercise_muscles USING btree (muscle_id);


--
-- Name: ix_exercises_exercise_class; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_exercises_exercise_class ON public.exercises USING btree (exercise_class);


--
-- Name: ix_exercises_name_en; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_exercises_name_en ON public.exercises USING btree (name_en);


--
-- Name: ix_exercises_name_es; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_exercises_name_es ON public.exercises USING btree (name_es);


--
-- Name: ix_muscles_name; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX ix_muscles_name ON public.muscles USING btree (name);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: client_interviews client_interviews_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.client_interviews
    ADD CONSTRAINT client_interviews_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: client_metrics client_metrics_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.client_metrics
    ADD CONSTRAINT client_metrics_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: day_exercises day_exercises_exercise_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.day_exercises
    ADD CONSTRAINT day_exercises_exercise_id_fkey FOREIGN KEY (exercise_id) REFERENCES public.exercises(id);


--
-- Name: day_exercises day_exercises_training_day_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.day_exercises
    ADD CONSTRAINT day_exercises_training_day_id_fkey FOREIGN KEY (training_day_id) REFERENCES public.training_days(id);


--
-- Name: exercise_muscles exercise_muscles_exercise_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.exercise_muscles
    ADD CONSTRAINT exercise_muscles_exercise_id_fkey FOREIGN KEY (exercise_id) REFERENCES public.exercises(id) ON DELETE CASCADE;


--
-- Name: exercise_muscles exercise_muscles_muscle_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.exercise_muscles
    ADD CONSTRAINT exercise_muscles_muscle_id_fkey FOREIGN KEY (muscle_id) REFERENCES public.muscles(id) ON DELETE RESTRICT;


--
-- Name: exercise_set_logs exercise_set_logs_day_exercise_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.exercise_set_logs
    ADD CONSTRAINT exercise_set_logs_day_exercise_id_fkey FOREIGN KEY (day_exercise_id) REFERENCES public.day_exercises(id) ON DELETE CASCADE;


--
-- Name: exercise_set_logs exercise_set_logs_workout_log_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.exercise_set_logs
    ADD CONSTRAINT exercise_set_logs_workout_log_id_fkey FOREIGN KEY (workout_log_id) REFERENCES public.workout_logs(id) ON DELETE CASCADE;


--
-- Name: macrocycles macrocycles_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.macrocycles
    ADD CONSTRAINT macrocycles_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.users(id);


--
-- Name: macrocycles macrocycles_trainer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.macrocycles
    ADD CONSTRAINT macrocycles_trainer_id_fkey FOREIGN KEY (trainer_id) REFERENCES public.users(id);


--
-- Name: mesocycles mesocycles_macrocycle_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.mesocycles
    ADD CONSTRAINT mesocycles_macrocycle_id_fkey FOREIGN KEY (macrocycle_id) REFERENCES public.macrocycles(id);


--
-- Name: microcycles microcycles_mesocycle_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.microcycles
    ADD CONSTRAINT microcycles_mesocycle_id_fkey FOREIGN KEY (mesocycle_id) REFERENCES public.mesocycles(id);


--
-- Name: patient_context_snapshots patient_context_snapshots_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.patient_context_snapshots
    ADD CONSTRAINT patient_context_snapshots_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: patient_context_snapshots patient_context_snapshots_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.patient_context_snapshots
    ADD CONSTRAINT patient_context_snapshots_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: training_days training_days_microcycle_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.training_days
    ADD CONSTRAINT training_days_microcycle_id_fkey FOREIGN KEY (microcycle_id) REFERENCES public.microcycles(id);


--
-- Name: workout_logs workout_logs_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.workout_logs
    ADD CONSTRAINT workout_logs_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: workout_logs workout_logs_training_day_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.workout_logs
    ADD CONSTRAINT workout_logs_training_day_id_fkey FOREIGN KEY (training_day_id) REFERENCES public.training_days(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 9p9aAcEb2OuUtQxaoaEdhPK2hhXC7ZfPfqxaptaV9tkkI8JXffGXPuxQnkAR6fu

